@import "tailwindcss";
/* @media (max-width: 600px)
{
    #navbar
    {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: auto;
        width: 100%;
    }
} */